body{
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	font-size:22px;
	padding-top:2cm;
    background:  url('images/contentbg.jpg') repeat;
	
	text-align: center;
    
    color: slategray;
}



    